* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    line-height: 0;
}

.graph-container {
    position: relative;
    border-left: 3px solid #BDC3C7;
    border-bottom: 3px solid #BDC3C7;
}

.x-axis {
    position: absolute;
    bottom: -20px;
    text-align: center;
}

.x-axis::before {
    content: "";
    position: absolute;
    display: block;
    top: -23px;
    left: 5px;
    transform: translateX(-50%);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #BDC3C7;
}

.y-axis {
    position: absolute;
    left: -25px;
    text-align: center;
}

.y-axis::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #BDC3C7;
}

.y-axis:first-child::after {
    content: "";
    display: none;
}

.column {
    display: inline-block;
    border-top: 2px solid #BDC3C7;
    border-right: 2px solid #BDC3C7;
    border-left: 2px solid #BDC3C7;
}